/* body */
body {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  z-index: 999;
  background-color: white;

  width: 100vw;
  height: 80px;
  position: fixed;
}

.header_logo {
  order: 1;
  min-width: 148px;
  height: 28px;
}

.header_logo img {
  width: 100%;
  height: auto;
}

.header_nav_frame {
  order: 2;
  min-width: 350px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header_nav_frame nav {
  margin-right: 2rem;
}

.header_text {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #666666;
}

.header_nav_about {
  order: 1;
  width: auto;
  height: auto;
}

.header_nav_quiz {
  order: 2;
  width: auto;
  height: auto;
}

.header_nav_twitter {
  order: 3;
  width: 50px;
  height: 50px;
  flex: none;
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
}

.header_nav_twitter img {
  width: 25px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.header_nav_ins {
  order: 4;
  height: 50px;
  width: 50px;
  flex: none;
  position: relative;
  border: 1px solid #EEEEEE;
  border-radius: 50px;
}

.header_nav_ins img {
  width: 24px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* main */
main {
  position: relative;
  width: 100vw;
  /* height: 1800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

/* main line */
.main_line {
  /* order: 2; */
  width: 90%;
  height: 357px;
  max-width: 984px;

  /* position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%); */
  margin-bottom: 80px;
  margin-top: 140px;
}

.main_line_frame {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-line.jpg");
  background-size: 100%;
  border-radius: 48px;
  overflow: hidden;
}

.main_line_frame::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #0071BC;
  opacity: 0.9;
  display: block;
  border-radius: 48px;
}

.main_line_inner {
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  /* position: relative; */
}

.main_title_line {
  /* order: 1; */
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 68px;
}

.main_line_img {
  width: 40px;
  height: 40px;
}

.main_line_img img {
  width: 100%;
  height: 100%;
}

.main_line_title_text {
  width: 281px;
  height: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

.main_line_main_text {
  order: 2;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.main_line_button_frame {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.main_line_button {
  width: 320px;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-radius: 98px;
  position: relative;
}

.main_line_button_text {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #666666;
  align-items: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main_line_button_img {
  width: 14px;
  height: 14px;

  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);

}

.main_line_button_img img {
  width: 100%;
  height: auto;
}

/* footer */
footer {
  width: 100vw;
  height: 355px;
}

.footerInner {
  width: 100vw;
  height: 355px;
  display: flex;
  flex-direction: column;
}

.footer_line1 {
  width: 100vw;
  height: auto;
  border: 1px solid #EEEEEE;
}

.footer_logo {
  width: 100vw;
  height: 39px;
  position: relative;
  padding-top: 56px;
}

.footer_logo img {
  width: 202px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.footer_link {
  width: 100vw;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_text {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #666666;
}

.footer_link_img {
  width: 14px;
  height: 14px;
}

.footer_link_img img {
  width: 100%;
  height: auto;
}

.footer_SNS {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.footer_twitter {
  width: 50px;
  height: 50px;
  flex: none;
  position: relative;
  margin-right: 4px;

  border: 1px solid #EEEEEE;
  border-radius: 50px;
}

.footer_twitter img {
  width: 25px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.footer_ins {
  height: 50px;
  width: 50px;
  flex: none;
  position: relative;
  margin-left: 4px;

  border: 1px solid #EEEEEE;
  border-radius: 50px;
}

.footer_ins img {
  width: 24px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.footer_line2 {
  width: 100vw;
  height: auto;
  border: 1px solid #EEEEEE;
}

small {
  width: 100vw;
  height: 15px;
  position: relative;
  padding-top: 35px;
}

.footer_small_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* main visual */
.main_visual {
  /* order: 1; */
  margin-top: 80px;
  width: 100%;
  height: 680px;
  display: flex;
  align-items: center;
  position: relative;
}

.main_visual_left {
  z-index: 2;
  width: 500px;
  height: 281px;
  background-color: #EFF2F5;
  border-radius: 24px;

  position: absolute;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_visual_text1 {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #0071BC;
  padding-bottom: 12px;
  padding-top: 40px;
}

.main_visual_text2 {
  width: 375px;
  height: 160px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #333333;
}

.main_visual_right {
  z-index: 1;
  width: 976px;
  height: 680px;
  position: absolute;
  right: 0;
}

.main_visual_right img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 80px 0px 0px 80px;
}

.main_visual_scroll {
  z-index: 3;
  width: auto;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 24px;
  left: 112px;
}

.main_scroll_point {
  width: 8px;
  height: 8px;
  background-color: #ADADAD;
  border-radius: 25px;
}

.main_scroll_text {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 7px;
}

/* about main */
.main_about {
  padding-top: 96px;
  width: 984px;
  height: 442px;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}

.main_about_frame {
  width: 100%;
  height: 100%;
  position: relative;
}

.main_about_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main_about_title1 {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #333333;
  padding-bottom: 8px;
}

.main_about_title2 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #0071BC;
}

.main_about_photo {
  width: 472px;
  height: 312px;
  background-image: url("../img/img-about.jpg");
  background-size: 100%;
  border-radius: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main_about_text {
  width: 472px;
  height: 175px;

  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  color: #333333;
  position: absolute;
  right: 0;
  bottom: 68.5px;
}

/* line_fixed */
.line_fixed {
  z-index: 999;
  width: 288px;
  height: 80px;
  position: fixed;
  right: 16px;
  bottom: 16px;
  background-color: #5FDF5B;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.line_fixed a {
  display: block;
  display: flex;
  position: relative;
}

.line_fixed_logo {
  z-index: 1;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 24px;
  top: 22px;
}

.line_fixed_white {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  left: 27px;
  top: 25px;
}

.line_fixed_text {
  position: absolute;
  width: 145px;
  height: 36px;
  left: 73px;
  top: 12px;

  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.14em;
  color: #FFFFFF;
}

.line_fixed_icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 20px;
  top: 31px;
}

/* quiz */
/* top_background */
.main_top {
  width: 100vw;
  height: 320px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/quiz/bg-hero.jpg);
  background-size:cover;
  display: flex;
  justify-content: center;
}

.main_top_title {
  max-width: 1032px;
  padding: 111px 24px;
  width: 100%;
}

.main_top_text1 {
  width: 96px;
  height: 32px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #EFF2F5;
}

.main_top_text2 {
  width: 236px;
  height: 90px;
  margin-top: 12px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
}

/* main_quiz */
.main_quiz {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Q1 */
.main_Q1, .main_Q2, .main_Q3, .main_Q4, .main_Q5, .main_Q6{
  width: 100%;
  max-width: 984px;
}


.main_Q {
  width: 100%;
}

.main_Q_icon {
  width: 85px;
  height: 70px;
  background-color:#0071BC;
  border-radius: 8px;
}

.main_Q_icon p {
  display: block;
  padding: 8px 16px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
}

.main_Q_question {
  font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
text-align: justify;
color: #333333;
}

.main_Q_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_Q_img img {
  width: 718px;
  height: auto;
}

.main_Q_A {
  width: 100%;
}

.main_A_icon {
  width: 58px;
  height: 70px;
  background-color: #E34E70;
  border-radius: 8px;
}

.main_A_icon p {
  display: block;
  padding: 8px 16px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
}

.main_A_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.main_A_item {
  list-style: none;
  flex-grow: 1;
  height: 80px;
  background: #FFFFFF;
  border: 5px solid #EEEEEE;
  border-radius: 8px;
  margin: 0 12px;
  position: relative;
}

.main_A_button {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  background-color:#FFFFFF;
  color: #333333;
  border: none;
  border-radius: 8px;
  text-align: left;
  padding-left: 24px;
}

.main_A_item::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
  top: 40px;
  transform: translateY(-50%);
  background-image: url(../img/icon/icon-arrow.svg);
  background-repeat: no-repeat;
}

.main_note {
  width: 100%;
  height: 80px;
  background: #F6F6F6;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.main_note_icon {
  width: 24.96px;
  height: 16.39px;
  background-image: url(../img/icon/icon-note.svg);
  background-size: 100%;
  margin: 15px;
}

.main_note_text {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  color: #333333;
}

/* correct */
.main_A_correct {
  width: 100%;
  height: 143px;
  border-radius: 8px;
}

.main_A_correct.is-correct {
  background-color: #FFF2F5;
}

.main_A_correct.is-incorrect {
  background-color: #EFF2F5;
}

.main_A_correct_title {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;

  padding-left: 40px;
  padding-top: 24px;
}


.main_A_correct.is-correct .main_A_correct_title {
  color: #E34E70;
}

.main_A_correct.is-incorrect .main_A_correct_title {
  color: #0071BC;
}

.main_A_correct_content {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  color: #333333;

  padding-left: 40px;
}
